<!doctype html>
<html>
<head>
  <style>
    body {
    }
    .report{
      margin-left: 50px;
      margin-right: 50px;
    }
    #t1{
      width: 100%;
      border-collapse: collapse;
      border: 1px solid;
    }
    td{
      padding-bottom: 0.5em;
    }
    #t2{
      width:100%;
    }
    #t2 > tr > td:first-child {
      width: 20%;
    }
  </style>
</head>
<body>
  <div id="pageHeader"></div>
  <div class="report">
    <h1>Report</h1>
    <div class="part1">
      <table id='t1'>
        <tr>
          <td>Observed by:</td>
          <td>{{ content.observedBy }}</td>
        </tr>
        <tr>
          <td>Title:</td>
          <td>{{ content.title }}</td>
        </tr>
        <tr>
          <td>Principle:</td>
          <td>{{ content.principle }}</td>
        </tr>
        <tr>
          <td>Practice:</td>
          <td>{{ content.practice }}</td>
        </tr>
        <tr>
          <td>IsDraft:</td>
          <td>{{ content.isDraft }}</td>
        </tr>
      </table>
    </div>
    <div class="part2">
        {% for paragraph in paragraphs %}
        <table id="t2">
          {% if paragraph.type == 0 %}
          <tr>
            <td><h5>Paragraph</h5></td>
          </tr>
          <tr>
            <td>Title: </td>
            <td>{{ paragraph.title }}</td></tr>
          <tr>
            <td>Text: </td>
            <td>{{ paragraph.text }}</td>
          </tr>
          {% endif %}
          {% if paragraph.type == 1 %}
          <tr>
            <td><h5>Paragraph</h5></td>
          </tr>
          <tr>
            <td>OutcomeTitle: </td>
            <td>{{ paragraph.outcomeTitle }}</td>
          </tr>
          <tr>
            <td>OutcomeSubTitle: </td>
            <td>{{ paragraph.outcomeSubTitle }}</td>
          </tr>
          <tr>
            <td>OutcomeEvident: </td>
            <td>{{ paragraph.outcomeEvident }}</td>
          </tr>
          <tr>
            <td>OutcomeEducator: </td>
            <td>{{ paragraph.outcomeEducator }}</td>
          </tr>
          {% endif %}
        </table>
        {% endfor %}
    </div>
  </div>

    <div id="part3">
      <h4>MediaArray</h4>
      {% for imageUrl in imageUrls %}
        {% if loop.first %}<ul>{% endif %}
        <li style="float: left; width: 260px; height: 260px;list-style: none;">
          <img style="width:250px; height: 250px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg)"
          src={{ imageUrl }}>
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>

    <div id="pageFooter"></div>
</body>
</html>
